@font-face {
    font-family: "AppleSDGothicNeo";
    src: url('../AppleSDGothicNeoB.ttf') format('truetype');
    src: url('../AppleSDGothicNeoL.ttf') format('truetype');
    src: url('../AppleSDGothicNeoEB.ttf') format('truetype');
    src: url('../AppleSDGothicNeoH.ttf') format('truetype');
    src: url('../AppleSDGothicNeoM.ttf') format('truetype');
}


.parent {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('./background_bm.png');
    background-repeat: no-repeat;
    background-position-y: 60px;
    background-size: 1920px,auto;
}

.inner-box {
    height: 1020px;
    padding: 10px 0px 10px 0px;
    display: flex;
}


.cheese{
    background-image: url('./cheese_bm.png');
    background-repeat: no-repeat;
    width: 633px;
    height: 766px;
    margin: 0 auto;
    margin-top: 100px;
}

.tableWrap{
    position: relative;
}

p{
    font-size: 5px;
}